opencv-python
rasterio
#xarray
rioxarray
geopandas
torchgeo
scikit-learn

numpy==1.26.4
mmsegmentation
openmim
ftfy
tiffile

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
pytorch-lightning